.cb87checkBoxLabel > input[type='checkbox'] {
    display: none;
}
.cb83customCheckBox {
    height: 15px;
    width: 15px;
    border: 1px solid var(--primaryColor900);
    border-radius: calc(var(--roundness-s) / 2);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cb87checkBoxLabel > input[type='checkbox']:checked + .cb83customCheckBox{
    border: 1px solid var(--primaryColor500);
    background-color: var(--primaryColor500);
}
.cb87checkBoxLabel > input[type='checkbox']:checked + .cb83customCheckBox::after {
    content: "";
    position: absolute;
    display: block;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}