.noughtSvgContainer {
    max-width: 120px;
    max-height: 120px;
}
.nought {
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
    animation: offsetCircle 1000ms forwards;
}
@keyframes offsetCircle {
    to {
        stroke-dashoffset:0;
    }
}