.no34noughtSvgContainer {
    min-height: 100px;
    min-width: 100px;
    max-width: 120px;
    max-height: 120px;
}
.no87nought {
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
    animation: offsetCircle 500ms forwards;
}
@keyframes offsetCircle {
    to {
        stroke-dashoffset:0;
    }
}