.playground {
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor800);
}

.playgroundGridContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: var(--white800); */
}
