.crossSvgContainer {
    max-width: 120px;
    max-height: 120px;
}
.lineDiagonal1,.lineDiagonal2 {
    stroke-dasharray: 140;
    stroke-dashoffset: 140;
    animation: offset 500ms forwards;
}
@keyframes offset {
    to {
        stroke-dashoffset: 0;
    }
}