.button {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    border: 0;
    outline: none;
    background-color: var(--primaryColor500);
    padding: 0.6rem 1.2rem;
    border-radius: var(--roundness-s);
    cursor: pointer;
}
.button:disabled {
    cursor:not-allowed;
    opacity: 0.4;
}
.button span {
    color: var(--white800);
}