.gbg87gridBlock {
    border: 1px solid var(--white500);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gbg87gridBlock:nth-child(3n + 1) {
    border-left: none;
}
.gbg87gridBlock:nth-child(3n + 3) {
    border-right: none;
}
.gbg87gridBlock:nth-child(-n + 3) {
    border-top: none;
}
.gbg87gridBlock:nth-last-child(-n + 3){
    border-bottom: none;
}
.gbg98emptyGridBlock:hover {
    background-color: var(--primaryColor500);
}