.inputContainer {
    transition: opacity 200ms ease-in;
}
.inputContainer > span {
    display: block;
    color: var(--primaryColor500);
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}
.inputContainer > input {
    display: block;
    appearance: none;
    outline: none;
    padding: 0.6rem 0.5rem;
    background-color: transparent;
    border: 1px solid var(--white800);
    border-radius: var(--roundness-s);
    width: 100%;
    color: var(--primaryColor900)
}
.inputContainer > input:focus {
    box-shadow: 0px 0px 6px var(--white800);
    background-color:var(--white);
}
