nav {
    background-color: var(--primaryColor900);
}
.hdr87headerWrapper,
.hdr23gameSettingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hdr87headerWrapper > h1 {
    color: var(--white800);
    padding: 1rem;
}
.hdr87headerWrapper > h1,
.hdr87headerWrapper > .hdr87settingIcon {
    opacity: 0.8;
}
.hdr87headerWrapper > .hdr87settingIcon {
    position: absolute;
    height: 28px;
    width: 28px;
    right: 8px;
}

.hdr87settingIcon > path,
.hdr87settingIcon > circle {
    stroke: var(--white800);
}
.hdr23gameSettingContainer {
    padding: 0.5rem 0;
}
.hdr12gameSetting {
    margin-top: 0 !important;
    background-color: var(--white600);
    padding: 0.5rem 4rem;
    border-radius: var(--roundness-s);
}
nav > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > ul > li {
    flex-basis: 50%;
    text-align: center;
    padding: 0.8rem 1rem;
    color: var(--white500);
    background-color: var(--primaryColor900);
    cursor: pointer;
}
li.hdr77listActive {
    color: var(--white);  
}