.uc87userCardContainer{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    gap:0 1rem;
    margin-bottom: 0.5rem;
}
.uc87userCardContainer .uc76userIcon path{
     fill: var(--white500);
}
.uc98userDetailsContainer span.uc76userName {
    font-size: 1.1rem;
    color: var(--white900);
}
.uc82winsAndLosses {
    display: flex;
    margin-top: 0.2rem;
}
.uc82winsAndLosses span{
    color: var(--white900);
    font-weight: bold;
}
.uc82winsAndLosses div:first-child {
    border-right: 2px solid var(--white500);
}
.uc12winsContainer {
    padding-right: 0.5rem;
}
.uc81lossesContainer {
    padding-left: 0.5rem;
}
.uc82winsAndLosses span:first-child,
.uc81lossesContainer span:first-child {
    color: var(--white800);
    font-size: 0.9rem;
}