.userCardContainer{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    gap:0 1rem;
    margin-bottom: 0.5rem;
}
.userCardContainer .userIcon path{
     fill: var(--white500);
}
.userDetailsContainer span.userName {
    font-size: 1.1rem;
    color: var(--white900);
}
.winsAndLosses {
    display: flex;
    margin-top: 0.2rem;
}
.winsAndLosses span{
    color: var(--white900);
    font-weight: bold;
}
.winsAndLosses div:first-child {
    border-right: 2px solid var(--white500);
}
.winsContainer {
    padding-right: 0.5rem;
}
.lossesContainer {
    padding-left: 0.5rem;
}
.winsAndLosses span:first-child,
.lossesContainer span:first-child {
    color: var(--white800);
    font-size: 0.9rem;
}