.ps87playerSettingsContainer {
    display: grid;
    grid-template-columns:40px 1fr 1fr;
    gap:0.5rem 0.4rem;
    grid-template-areas:"noughtAndCrossTop playerInputTop playerInputTop"
                        "noughtAndCrossSwitch . ."
                        "noughtAndCrossBottom playerInputBottom playerInputBottom";
}
.ps87noughtOrCrossTop {
    grid-area: noughtAndCrossTop;
}
.ps87noughtOrCrossBottom {
    grid-area: noughtAndCrossBottom;
}
.ps87playerNameInputTop {
    grid-area: playerInputTop;
}
.ps54playerNameInputBottom {
    grid-area: playerInputBottom;
}
.ps45noughtAndCrossSwitch {
    grid-area: noughtAndCrossSwitch;
}