.gm72flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gm28gameMenuWrapperCard {
    width: 80%;
    max-width: 400px;
    padding: 0.8rem 1.2rem;
    background-color: var(--white900);
    border-radius: var(--roundness-s);
    box-shadow: 0 0 12px var(--white900);
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 800ms 500ms,transform 1s 500ms;
}
.gm77fadeIn {
    opacity: 1;
    transform: translateY(0);
}
.gm28gameMenuWrapperCard h2 {
    color: var(--primaryColor500);
    text-align: center;
    font-size: 1.4rem;
}
.gm82horizontalRule {
    margin: 1rem 0;
    border-top: 1px solid var(--white800);
}
.gm28playButton {
    margin: 1rem auto 0 auto;
}