.app34appContainer{
    height: 100%;
    width: 100%;
    background-color: var(--primaryColor900);
}
.app43heightBoundContainer {
    background-color: var(--primaryColor800);
}
.app38playgroundLeaderboardGrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr minmax(400px,1fr);
    grid-template-areas: "playground leaderboard";
}
.app87playgroundGrid {
    grid-area: playground;
}
.app56leaderboardGrid {
    grid-area: leaderboard;
}

@media screen and (max-width:600px) {
    .app38playgroundLeaderboardGrid {
        grid-template-columns: 1fr;
        grid-template-areas: "commonGrid";
    }
    .app87playgroundGrid,
    .app56leaderboardGrid {
        grid-area: commonGrid;
    }
}