.appContainer{
    height: 100%;
    width: 100%;
    background-color: var(--primaryColor900);
}
nav{
    background-color: var(--primaryColor900);
}
nav > h1{
    color: var(--whiteText);
    padding: 1rem;
    text-align: center;
}
.leaderboard{
    background-color: var(--primaryColor500);
}
.playground {
    background-color: var(--primaryColor900);
}