*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primaryColor900: hsl(274, 28%, 8%);
  --primaryColor500: hsl(274, 29%, 13%);
  --white:      hsl(274, 29%, 91%);
  --white900:    hsl(274, 29%, 90%);
  --white800:    hsl(274, 29%, 80%);
  --white500:    hsl(274, 27%, 35%);
  --backdropColor:   hsla(274,28%,2%,0.6);

  --roundness-s: 0.5rem;
  --roundness-m: 1rem;
  --roundness-l: 1.5rem;
}
html{
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
}