.gs56menuItem {
    margin-top: 1rem
}
.gs56menuItem h3 {
    color: var(--white500);
}
.gs45soundMenuItem {
    display: flex;
    align-items: center;
}
.gs45soundMenuItem .gs87checkBox{
    margin-left: 1rem;
}