.lb38leaderboard {
    padding: 1rem 0.5rem;
    max-height: 100%;
    overflow: hidden;
}
.lb38leaderboard > h2 {
    text-align: center;
    margin-top: 1rem;
    color: var(--white800);
}
.lb28userCardListContainer {
    max-width: 80%;
    max-height: 90%;
    overflow-y: auto;
    margin: 2rem auto 0 auto;
    padding: 0.4rem 0;
    border-radius: var(--roundness-s);
    background-color: var(--primaryColor500);
}